<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/all.css"/>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/lircCode.css" />
		<script type="text/javascript" src="js/jquery.1.9.1.js" ></script>
		<title id="name" fileNam="lircDevice">红外设备管理</title>
	</head>
	<body>
		<!--记录数据-->
		<div id="fileName" fileNam="lircDevice"></div>
		<!--记录数据-->
		<div id="pluginContainer" fileNam="plugin">
			<div class="pluginTitle">红外设备类型</div>
			<a class="addPluginBtn" href="addLircDevice.html">添加红外设备</a>
			<div class="tableContainer">
			<table id="table">
				<tr>
					<th>设备类型</th>
					<th >操作</th>
				</tr>
				<tr id="cell" class="cell" style="display: none">
					<td name="id" style="display: none;"></td>
					<td class="" name="devType" >空调</td>
					<td ><a href="lircDeviceDetail.html" class="detailBtn blueBut">详情</a></td>
				</tr>
			</table>
			</div>
			<div style="height: 15px;"></div>
			
		</div>
	</body>
<script type="text/javascript" src="js/public.js" ></script>
<script type="text/javascript" src="js/netWokr.js" ></script>
</html>
