<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/all.css"/>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/pluginVersion.css" />
		<script type="text/javascript" src="js/jquery.1.9.1.js" ></script>
		<title fileNam="pluginVersion">插件版本</title>
	</head>
	<body>
		<!--记录数据-->
		<div id="fileName" fileNam="pluginVersion"></div>
		<!--记录数据-->
<!--发布版本开始-->
		<div class="pluginContainer">
			<div class="pluginTitle">
				<a class="backBtn" >取消</a>发布插件</div>

			<div class="inputContainer">
				<form id="">
					<span class="nameSpan">选择插件版本</span>
					<select class="inputDesc selectedVersion" id="selectVersion" >
						<option id="selectCell" class="option" name="pluginName">未选择插件版本</option>
					</select>
				</form>
				<input class="inputSubmit publishPluginVersion" type="button" value="发布" />
			</div>
			<div style="height: 1px;"></div>
		</div>
		<!--发布版本结束-->

		<!--版本信息开始-->

		<div class="pluginContainer">
			<div class="pluginTitle">
				版本列表
				<a class="backBtn" href="plugin.html">返回</a>
			</div>
			<a class="addPluginBtn" href="addPluginVersion.html">添加版本</a>
			<div class="tableContainer">
			<table id="table">
				<tr>
					<th>版本号</th>
					<th>md5值</th>
					<th>修改说明</th>
					<th>操作</th>
				</tr>
				<tr id="cell"  style="display: none;">
					<td name="version">v1.0.1</td>
					<td name="md5">123412421434</td>
					<td name="changeLog">这是这是个啊是否这是个啊是否这是个</td>
					<td>
						<!--<a class="pluginVersion blueBut">发布</a> -->
						<a class="pluginDelete redBtn">删除</a>
					</td>
				</tr>
			</table>
			</div>
			<div style="height: 15px;"></div>
		</div>
		<!--版本信息结束-->
	</body>
<script type="text/javascript" src="js/public.js" ></script>
<script type="text/javascript" src="js/netWokr.js" ></script>
</html>
