* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

a {
    text-decoration: none;
}

body {
    /*background: url(img/bg-contact.jpg);*/
    background-color: rgba(0, 0, 0, 0.05);
    background-size: auto 1000px;
}

#head {
    background: rgba(255, 255, 255, 1);
    height: 50px;
    border-bottom: 1px solid gainsboro;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
}
.logo {
    position: absolute;
    left: 5%;
    height: 100%;
    /*top: 0;*/
    display: inline-block;
    vertical-align: bottom;
    line-height: 50px;
    font-size: 20px;
    color: green;
}

.main {
    display: inline-block;
    vertical-align: bottom;
    height: 50px;
    line-height: 50px;
    position: absolute;
    /*top: 0px;*/
    right: 350px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.contact_sel {
    display: inline-block;
    vertical-align: bottom;
    height: 50px;
    line-height: 50px;
    position: absolute;
    /*top: 0px;*/
    right: 250px;
    cursor: pointer;
    color: deepskyblue;
}

.contact {
    display: inline-block;
    vertical-align: bottom;
    height: 50px;
    line-height: 50px;
    position: absolute;
    /*top: 0px;*/
    right: 250px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

.main:hover,
.contact:hover {
    color: deepskyblue;
}

.login {
    color: black;
    text-decoration: none;
    border: 1px solid #bbb;
    display: inline-block;
    vertical-align: bottom;
    height: 30px;
    line-height: 30px;
    width: 100px;
    text-align: center;
    background: white;
    position: absolute;
    right: 100px;
    top: 19px;
    border-radius: 4px;
    color: #777;
    padding: 0px;
}

.login:hover {
    background: deepskyblue;
    border: 1px solid deepskyblue;
    color: #fff;
}

#contactway {
    padding-left: 40px;
    width: 460px;
    height: 300px;
    border: 1px solid;
    margin: 0 auto;
    margin-top: 220px;
    /*background: rgba(0, 0, 0, 0.7);*/
    background: rgba(255,255,255,0.4);
    color: #333;
    border-radius: 20px;
    border-color: rgba(128,128,128,0.2);
}
.person{
    margin-top: 50px;
    margin-left: 50px;
}

.logout{
    position: absolute;
    right: 100px;
    /*top: 0;*/
    line-height: 50px;
    cursor: pointer;
}
.blur-bg {
    background: url(../img/blur-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#login-page.blur-bg{
    height: 120px;
    width: 100%;
    margin-top: 70px;
}

