<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/all.css"/>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/router_currentsource.css" />
		<script type="text/javascript" src="js/jquery.1.9.1.js" ></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<title id="name" fileNam="plugin">插件管理</title>
	</head>
	<body>
		<!--记录数据-->
		<div id="fileName" fileNam="router_historyresource" isroot="root"></div>
		<!--记录数据-->
		<div id="pluginContainer" fileNam="plugin" isroot="root">
			<div class="pluginTitle"><!-- <a class="backBtn" >返回</a> -->历史直播资源</div>

			<div class="tableContainer" style="margin-top: 30px;" id="vueApp">
			<table id="table">
				<tr>
					<!--<th>平台名称</th>
					<th>文件名</th>
					<th>直接获取的流的数目</th>
					<th>p2p转发的流的数目</th>
					<th>直接获取的字节数</th>
					<th>p2p转发的字节数</th>
					<th>转发情况</th>-->
					<th v-for="value in headArr">{{value}}</th>
				</tr>
				<tr id="cell" class="cell" v-for="dic in message.values">
					<td v-for="value in dic">{{value}}</td>
					<!--<td ><a class="pluginVersion blueBut" href="router_retransmission.html">详情</a></td>-->
				</tr>
			</table>
			</div>
			<div style="height: 15px;"></div>
			
		</div>
	</body>
<script type="text/javascript" src="js/public.js" ></script>
<!--<script type="text/javascript" src="js/netWokr.js" ></script>-->
<script>
	var vm = new Vue({
  el: '#vueApp',
  data: {
    message:{values:[{"Deviceid":"1","Deviceid2":"1"},{"Deviceid":"1","Deviceid2":"1"},{"Deviceid":"1","Deviceid2":"1"}]},
    headArr:[],
  }
  
});

//获取标题
 for(var key in vm.message.values[0]){
 	vm.headArr.push(key);
 }
// vm.headArr.push("直播资源");
	
	
	
myajax(4,"get","",detailCallBack);

function detailCallBack(data){
	// alert(data);
	vm.message = data;
	//获取标题
	vm.headArr = [];
 for(var key in vm.message.values[0]){
 	vm.headArr.push(key);
 }
}
	

 </script>
</html>
