<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/all.css"/>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/router_currentsource.css" />
		<script type="text/javascript" src="js/jquery.1.9.1.js" ></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<title id="name" fileNam="plugin">插件管理</title>
	</head>
	<body>
		<!--记录数据-->
		<div id="fileName" fileNam="router_currentresourceSmall"></div>
		<!--记录数据-->
		<div id="pluginContainer" fileNam="plugin">
			<div class="pluginTitle"><a class="backBtn" >返回</a>路由器当前直播资源</div>
			<div style="padding:10px 10px 0 10px;font-size: 13px;color: #2dc3e8;">origin表示直接从直播平台获取。</div>
			<div class="tableContainer" style="margin-top: 15px;" id="vueApp">
			<table id="table">
				<tr>
					<!--<th>平台名称</th>
					<th>文件名</th>
					<th>直接获取的流的数目</th>
					<th>p2p转发的流的数目</th>
					<th>直接获取的字节数</th>
					<th>p2p转发的字节数</th>
					<th>转发情况</th>-->
					<th>ResourceId</th>
					<th>直播来源</th>
					<th>转发给</th>
				</tr>
				<tr id="cell" class="cell" v-for="dic in message">
					<td v-for="value in dic">
					{{ value | make}}</td>
					<!--<td ><a class="pluginVersion blueBut" href="router_retransmission.html">详情</a></td>-->
				</tr>
			</table>
			</div>
			<div style="height: 15px;"></div>
			
		</div>
	</body>
<script type="text/javascript" src="js/public.js" ></script>
<!--<script type="text/javascript" src="js/netWokr.js" ></script>-->
<script>

var deviceId = window.localStorage.deviceId;
var vm = new Vue({
  el: '#vueApp',
  data: {
    message:{values:[{"deviceId":"2","resourceId":"6","src":"origin2"},{"deviceId":"1","resourceId":"6","src":"origin"},{"deviceId":"6","resourceId":"5","src":"origin"}]},
    headArr:[],
  },
  filters:{
  	make:function(value){
  		var str = "";
  		if (value instanceof Array) {

  			for(var i = 0 ; i < value.length; i++){
  				//判断是否是当前路由器 是当前路由器就不显示
  				if(value[i] == deviceId || value[i] == deviceId.toString()){
  					continue;
  				}
  				if(str == "") {
  					
  					str = value[i];
  					}else{
  						str = str +","+value[i];
  					}
  			}
  			
  			if(str == ""){
				str = "N/A";
			}
  			
  	
  			return str;
  		}else{
  			return value;
  		}
  		
  	}
  }
  
});



myajax(6,"post",{"deviceId":deviceId},detaiCallBack);
function fresh(){
    setTimeout(function(){

myajax(6,"post",{"deviceId":deviceId},detaiCallBack);



    },5000);
}


function detaiCallBack(data1){

	 vm.message = data1;
	 var resourceIdArr = [];
     var data = {};

 for(var i= 0; i< vm.message.values.length; i++){

 	var thisId = vm.message.values[i].resourceId;
 	
 	var has =  $.inArray(thisId, resourceIdArr);

 	if(has == -1){
 		resourceIdArr.push(thisId);
 		
 	   data[thisId] = {"resourceId":thisId,src:[vm.message.values[i].src],deviceId:[vm.message.values[i].deviceId]};
 	 
 	}else{
 	  
 	  var arr1 = data[thisId].deviceId;
 	  var arr2 = data[thisId].src;
 	  var a1 = vm.message.values[i].deviceId;
 	  var a2 = vm.message.values[i].src;
 		var hasDeviceID = $.inArray(a1,arr1);
 		var hasSrc = $.inArray(a2,arr2);
 		
 		
 	
 		
 		if(hasDeviceID == -1){
 		
 			data[thisId].deviceId.push(vm.message.values[i].deviceId);
 			
 		}
 		if(hasSrc == -1){
 			
 			data[thisId].src.push(vm.message.values[i].src);
 		}
 	}
 }
 


 vm.message = data;



 fresh();
}//callback



 



 
 
 
 </script>
</html>
