<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/all.css"/>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/router_currentsource.css" />
		<script type="text/javascript" src="js/jquery.1.9.1.js" ></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<title id="name" fileNam="plugin">小区管理</title>
	</head>
	<body>
		<!--记录数据-->
		<div id="fileName" fileNam="router_historyresource" isroot="root"></div>
		<!--记录数据-->
		<div id="pluginContainer" fileNam="plugin" isroot="root">
			<div class="pluginTitle"><!-- <a class="backBtn" >返回</a> -->小区信息</div>

            <div>
                <table style="margin-left:20px">
                    <tr>
                        <td>城市:</td><td><select><option selected="selected" value="上海">上海</option>
                            <option value="北京">北京</option>
                            <option value="深圳">深圳</option>
                        </select></td>
                        <td>区：</td><td><select><option selected="selected" value="徐汇">徐汇</option>
                            <option value="静安">静安</option>
                            <option value="浦东">浦东</option>
                        </select></td>
                        <td>名称:</td><td><input type="text" style="width:300px;" name="name"></input></td>
                    </tr>
                </table>
                <table style="margin-left:20px">
                    <tr>
                        <td>地址:</td><td><input type="text" style="width:600px;" name="addr"></input></td>
                    </tr>
                </table>
                <table style="margin-left:20px">
                    <tr>
                        <td><button type='button'>添加</button></td>
                    </tr>
                </table>
            </div>
			<div class="pluginTitle">小区信息</div>
			<div class="tableContainer" id="vueApp">
                <table id="table">
                    <tr>
                        <th v-for="value in headArr">{{value}}</th>
                    </tr>
                    <tr id="cell" class="cell" v-for="dic in message.values">
                        <td v-for="value in dic">{{value}}</td>
                        <!--<td ><a class="pluginVersion blueBut" href="router_retransmission.html">详情</a></td>-->
                    </tr>
                </table>
            </div>
			<div style="height: 15px;"></div>
		</div>
	</body>
<script type="text/javascript" src="js/public.js" ></script>
<!--<script type="text/javascript" src="js/netWokr.js" ></script>-->
<script>
	var vm = new Vue({
  el: '#vueApp',
  data: {
    message:{values:[{"Deviceid":"1","Deviceid2":"1"},{"Deviceid":"1","Deviceid2":"1"},{"Deviceid":"1","Deviceid2":"1"}]},
    headArr:[],
  }
  
});

//获取标题
 for(var key in vm.message.values[0]){
 	vm.headArr.push(key);
 }
// vm.headArr.push("直播资源");
	
	
	
myajax(4,"get","",detailCallBack);

function detailCallBack(data){
	// alert(data);
	vm.message = data;
	//获取标题
	vm.headArr = [];
 for(var key in vm.message.values[0]){
 	vm.headArr.push(key);
 }
}
	

 </script>
</html>
